body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #212121;
  color: #fff;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Global */
.container {
  width: 55%;
  margin: auto;
  overflow: hidden;
}

#services, #about .container, #sidebar {
  margin-top: 4rem;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #00f3ff;
  border: 0;
  padding: 0 1rem;
}

/* Header */
header {
  background: #35424a;
  color: #ffffff;
  min-height: 70px;
  border-bottom: #00f3ff 3px solid;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header img {
  max-width: 125px;
  max-height: 125px;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

#branding a {
  text-transform: none;
  font-size: 2rem;
}

header li {
  float: left;
  display: inline;
  padding: 30px 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
  padding: 30px 10px 0 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #00f3ff;
  font-weight: bold;
}

header a:hover{
  color: #00667a;
  font-weight: bold;
  transition-duration: .5s;
}

/* Showcase */
#showcase {
  background: url("images/bg_mb.webp") no-repeat center center;
  background-position: 0% 45%;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: block;
}

#showcase h1 {
  margin-top: 6.25rem;
  font-size: 55px;
  margin-bottom: 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

#showcase p {
  font-size: 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
  width: 50%;
  margin: auto;
  padding-bottom: 6.25rem;
}

/* b_bar */
#b_bar, #b_bar_a, #b_bar_s {
  padding: 15px;
  color: #fff;
  background: #35424a;
  border-top: #00f3ff 3px solid;
  border-bottom: #862110 3px solid;
}

#b_bar h1 {
  float: left;
}

#b_bar form {
  float: right;
  margin-top: 15px;
}

#b_bar input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 12rem;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .container {
  display: flex;
  justify-content: center;
  padding: 4.25rem;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#boxes .box img {
  margin: 0 auto;
  height: auto;
  max-width: 18.75rem;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  background-color: #35424a;
  padding: 1rem;
  border: #00f3ff solid 1px;
}

aside#sidebar_about {
  float: right;
  background: rgb(0,112,134);
  background: linear-gradient(135deg, rgba(0,112,134,1) 17%, rgba(156,37,16,1) 100%);
  padding: 3px 3px 0 3px;
  margin-bottom: 4rem;
}

aside#sidebar #contactForm input, aside#sidebar #contactForm textarea {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px
}

#sidebar_about img {
  width: 18rem;
  height: auto;
}

.alert {
	text-align: center;
	padding: 10px 5px;
  background: rgb(134,33,16);
  background: linear-gradient(90deg, rgba(134,33,16,1) 0%, rgba(0,243,255,1) 100%);
	color: #fff;
	margin-bottom: 10px;
	display: none;
  width: 90%;
	-webkit-transition: 1s ease
}

/* Main-col */
article#main-col {
  float: left;
  width: 55%;
}

#main-col p {
  margin: 0;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 1.25rem;
  border: #00f3ff solid 1px;
  margin-bottom: 1rem;
  background: #35424a;
}

footer {
  padding: 20px;
  margin-top: 2rem;
  color: #fff;
  background-color: #35424a;
  text-align: center;
  border-top: #862110 3px solid;
}

/* Media Queries */
@media(max-width: 1205px) {
  header #branding,
  header nav,
  header nav li,
  #b_bar h1,
  #b_bar form,
  #boxes .box,
  article#main-col,
  aside#sidebar
   {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  header .container {
    display: block;
    justify-content: center;
  }

  header #logo {
    display: none;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #showcase .container {
    overflow: hidden;
  }

  aside#sidebar {
    display: block;
    width: auto;
    text-align: center;
    float: none;
    padding: .5rem;
  }

  .container {
    overflow: visible;
  }


  #sidebar_about img {
    width: 100%;
  }

#sidebar_about {
  margin: 0 auto;
  float: none;
  max-width: 25rem;
}

  #boxes .container {
    flex-direction: column;
  }

  aside#sidebar_about {
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: block;
    float: none;
  }

.alert {
  margin: 0 auto;
}


  }

  @media (max-width: 600px) {
    #showcase h1 {
      font-size: 2.5rem;
      padding: 1rem;
    }

    #showcase p {
      display: none;
    }

    #b_bar .container {
      width: 65%;
    }

    #boxes .box {
      padding: 0;
    }





}
